<!DOCTYPE html>
<html class="dj_gecko dj_contentbox dj_gecko dj_contentbox">
<head>
  <style type="text/css" media="all">
/** BEGIN HERE: Page Title */
.pageTitleContainer{overflow:auto;overflow-y:hidden;width:980px;margin-bottom:5px;}
.pageTitleContainer H1{float:left;margin:0;}
.pageTitleContainer span{float:right;margin-top:4px;}
.pageTitleContainer a,.pageTitleContainer a.link{text-decoration:none;color:#369;font:13px "Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;}
.pageTitleContainer a:hover{text-decoration:underline;}
.pageTitleContainer a.primary:hover{text-decoration:none;}
/** END HERE: Page Title */

.text10 {font-size: 10px; color: #666; font-family: Verdana, Geneva, Arial, sans-serif; line-height: 12px;}
.text11 {font-size: 11px; color: #FFF; font-family: Arial, Verdana, Geneva, sans-serif; line-height: 16px;}

#div1 { float:left; width:40%; padding-left:15px; padding-top:0;}

#yearbook_contact_form p {
    font-size: 11px;
    margin: 5px 0 0;
}
#yearbook_contact_form a {
    color: #666666;
    text-decoration: none;
    width:400px;
}

#new_contact {
   background-color: #F9F7F6;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 5px 20px 0 15px;
    text-align: left;
    width: 400px;
}

.yearbook_err_text {
    color: red;
    font-size: 11px;
    margin-bottom: 5px;
}
.yearbook_contact_required {
    font-size: 9px;
    margin-bottom: 5px;
}
#yearbook_contact_form .yearbook_small_field_left, #yearbook_contact_form .yearbook_small_field_right, #yearbook_contact_form .yearbook_full_field, #yearbook_contact_agree span, #yearbook_contact_form .yearbook_ship_date {
    color: #666666;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
}
#yearbook_contact_form .yearbook_small_field_left, #yearbook_contact_form .yearbook_small_field_right {
    float: left;
    margin-bottom: 5px;
    width: 170px;

}
#yearbook_contact_form .yearbook_small_field_right {
    float: right;
}
#yearbook_contact_form .yearbook_full_field {
    margin-bottom: 5px;
    width: 100%;
}
#yearbook_contact_agree {
    height: 19px;
    margin-bottom: 10px;
    position: relative;
    width: 20px;
}
#yearbook_contact_agree span {
    display: block;
    left: 22px;
    margin-bottom: 10px;
    position: relative;
    width: 385px;
}
#yb_quote_button {
    margin-bottom: 25px;
    float: right;
}
#yb_quote_error2, #yb_quote_error3 {
    background: none repeat scroll 0 0 #FFFD7E;
    display: none;
    font-size: 2em;
    height: 22px;
    left: 119px;
    padding: 0 3px;
    position: absolute;
    top: 17px;
}
#yb_quote_error3 {
    left: 105px;
}

#yearbook_contact_form {
    background-color: #F9F7F6;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 5px 20px 0 15px;
    text-align: left;
    width: 420px;
}

#div1 p {
    color: #464646;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top:0;
    margin-left:15px;
    font-family: Verdana,​Arial,​sans-serif;

}

#divagain {

    margin-left:15px;
    padding-left:15px;
    padding:10%;
    font-family: Verdana,​Arial,​sans-serif;

}

#div1 p strong {
    color: #000000;
    display: block;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}

#div1 p small {
    color: #666666;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
}

#div2 { margin-left:550px; width:400px;background-image:url(/assets/photoholder.png);}

#pg_row2 {
    height: 492px;
    margin-top: -4px;
    position: relative;
}

#pg_container{
  display:none;
  margin-bottom:37px;
  overflow:hidden;
  position:relative;
  padding-top:4px;
        z-index:1 !important;
position:relative;
}
#pg_col1{
  width:492px;
  position:relative;
}
#pg_col2{
  width:492px;
        left:488px;
  top:0px;
  position:absolute;
    padding-top:4px;
}

#mystery_main {
    margin-left: 10px;
    width: 980px;
}

#mystery_hero {
    float: center;
    background: transparent url("/i/landingpages/1086035_graduation_mysterysale_01.jpg") no-repeat 0 0;
    width: 980px;
    height: 298px;
    margin-bottom: 10px;
}

#mystery_hero_link {
    
    float: left;
    padding-left: 15px;
    width: 170px
}

#mystery_text {
    position: absolute;
    top: 210px;
    left: 508px;
    width: 411px;
    text-align: center;
}

#mystery_recovery {
    position: relative;
    background: transparent url("/i/landingpages/1086035_graduation_mysterysale_04.jpg") no-repeat 0 0;
    width: 980px;
    height: 286px;
    margin-bottom: 30px;
}

.mr_link {
    position: absolute;
    display: block;
    height: 286px;
    top: 0;
}

#mrl_card {
    width: 200px;
    left: 15px;
}

#mrl_plaque {
    width: 179px;
    left: 252px;
}

#mrl_bottle {
    width: 148px;
    left: 451px;
}

#mrl_iphone {
    width: 175px;
    left: 611px;
}

#mrl_mug {
 margin-left:15px;
 padding-left:15px;
}

</style>


<div id="mrl_mug" ><%= image_tag('header.png')%>  </div>
<!-- /HTML Content Wrapper -->
</div>  
         </div>
         <div class="clear"> </div>
     </div>
 




   
    
        </div>
        
            

<%= yield %>
</div>
</div>

<div id="div2"><%= image_tag('Photoholder.png')%>  </div>


</div>


<div class="totallyNonConflictingWrapper">


<td><div id="mrl_mug"><%= image_tag('footer.png')%>  </div></td>


















<div id="siteSubNavWrapper">
<div id="ft">
    






<div id="ftr">
	        


    



</body>
</html>
