<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
<title>Shutterfly</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/c/def.css">
<link rel="stylesheet" type="text/css" href="/css/global/layout.css">
<link rel="stylesheet" type="text/css" href="/css/global/resetFontsGridsMin.css">
<link rel="stylesheet" type="text/css" href="/css/fonts/fonts.css">
<meta name="MSSmartTagsPreventParsing" content="True" />
<meta http-equiv="imagetoolbar" content="no" />
<script type="text/javascript" language="javascript">
var brandDir = 'SFLY'; var uiDir = 'SFLY'; var uiBase = 'http://web1.shutterfly.com/img_/SFLY'; var sessionIsLogged = 0;
var reqHttpPath = 'www.shutterfly.com';
var sflylnk = 0</script>
<link rel="stylesheet" type="text/css" href="/c/def-v136182149100012510.css" />
<script type="text/javascript" language="javascript" src="/incl_/utils-v136026179200030609.js"></script>
<script type="text/javascript" language=javascript src="http://web1.shutterfly.com/incl_/utils.js"></script>
<style type="text/css" media="all">
/** BEGIN HERE: Page Title */
.pageTitleContainer{overflow:auto;overflow-y:hidden;width:980px;margin-bottom:5px;}
.pageTitleContainer H1{float:left;margin:0;}
.pageTitleContainer span{float:right;margin-top:4px;}
.pageTitleContainer a,.pageTitleContainer a.link{text-decoration:none;color:#369;font:13px "Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;}
.pageTitleContainer a:hover{text-decoration:underline;}
.pageTitleContainer a.primary:hover{text-decoration:none;}
/** END HERE: Page Title */

.text10 {font-size: 10px; color: #666; font-family: Verdana, Geneva, Arial, sans-serif; line-height: 12px;}
.text11 {font-size: 11px; color: #FFF; font-family: Arial, Verdana, Geneva, sans-serif; line-height: 16px;}

#div1 { float:left; width:40%; padding-left:15px; padding-top:0;}

#yearbook_contact_form p {
    font-size: 11px;
    margin: 5px 0 0;
}
#yearbook_contact_form a {
    color: #666666;
    text-decoration: none;
    width:400px;
}

#new_contact {
   background-color: #F9F7F6;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 5px 20px 0 15px;
    text-align: left;
    width: 400px;
}

.yearbook_err_text {
    color: red;
    font-size: 11px;
    margin-bottom: 5px;
}
.yearbook_contact_required {
    font-size: 9px;
    margin-bottom: 5px;
}
#yearbook_contact_form .yearbook_small_field_left, #yearbook_contact_form .yearbook_small_field_right, #yearbook_contact_form .yearbook_full_field, #yearbook_contact_agree span, #yearbook_contact_form .yearbook_ship_date {
    color: #666666;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
}
#yearbook_contact_form .yearbook_small_field_left, #yearbook_contact_form .yearbook_small_field_right {
    float: left;
    margin-bottom: 5px;
    width: 170px;

}
#yearbook_contact_form .yearbook_small_field_right {
    float: right;
}
#yearbook_contact_form .yearbook_full_field {
    margin-bottom: 5px;
    width: 100%;
}
#yearbook_contact_agree {
    height: 19px;
    margin-bottom: 10px;
    position: relative;
    width: 20px;
}
#yearbook_contact_agree span {
    display: block;
    left: 22px;
    margin-bottom: 10px;
    position: relative;
    width: 385px;
}
#yb_quote_button {
    margin-bottom: 25px;
    float: right;
}
#yb_quote_error2, #yb_quote_error3 {
    background: none repeat scroll 0 0 #FFFD7E;
    display: none;
    font-size: 2em;
    height: 22px;
    left: 119px;
    padding: 0 3px;
    position: absolute;
    top: 17px;
}
#yb_quote_error3 {
    left: 105px;
}

#yearbook_contact_form {
    background-color: #F9F7F6;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 5px 20px 0 15px;
    text-align: left;
    width: 420px;
}

#div1 p {
    color: #464646;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top:0;
    margin-left:15px;
    font-family: Verdana,​Arial,​sans-serif;

}

#div1 p strong {
    color: #000000;
    display: block;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}

#div1 p small {
    color: #666666;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
}

#div2 { margin-left:50%; width:50%;background-image:url(/assets/photoholder.png);}

#pg_row2 {
    height: 492px;
    margin-top: -4px;
    position: relative;
}

#pg_container{
  display:none;
  margin-bottom:37px;
  overflow:hidden;
  position:relative;
  padding-top:4px;
        z-index:1 !important;
position:relative;
}
#pg_col1{
  width:492px;
  position:relative;
}
#pg_col2{
  width:492px;
        left:488px;
  top:0px;
  position:absolute;
    padding-top:4px;
}

#mystery_main {
    margin-left: 10px;
    width: 980px;
}

#mystery_hero {
    position: relative;
    background: transparent url("/i/landingpages/1086035_graduation_mysterysale_01.jpg") no-repeat 0 0;
    width: 980px;
    height: 298px;
    margin-bottom: 10px;
}

#mystery_hero_link {
    display: block;
    width: 980px;
    height: 298px;
    position: absolute;
    top: 0;
    left: 0;
}

#mystery_text {
    position: absolute;
    top: 210px;
    left: 508px;
    width: 411px;
    text-align: center;
}

#mystery_recovery {
    position: relative;
    background: transparent url("/i/landingpages/1086035_graduation_mysterysale_04.jpg") no-repeat 0 0;
    width: 980px;
    height: 286px;
    margin-bottom: 30px;
}

.mr_link {
    position: absolute;
    display: block;
    height: 286px;
    top: 0;
}

#mrl_card {
    width: 200px;
    left: 15px;
}

#mrl_plaque {
    width: 179px;
    left: 252px;
}

#mrl_bottle {
    width: 148px;
    left: 451px;
}

#mrl_iphone {
    width: 175px;
    left: 611px;
}

#mrl_mug {
    width: 171px;
    left: 791px;
}

</style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="yui-skin-sam">










































    <script>
		pageloadTimeStart = new Date();
	</script>
    
    <script>
        var userDataCookieName = "sflyData2";
        var defaultCookieDomain = ".shutterfly.com";
    </script>








    





		
	


 
  














      

 






 <div id="xBrandWrapperWide">
    





<div id="xBrandHeaderContainer" class="xBrandHeader">
 <div id='xBrandsContainer'>
    <div id="xBrands">
     <ul>
       <li class="pipeSpacer"></li>
       <li id='wpBrand'>
         <a href='http://www.weddingpaperdivas.com/?CID=CB-SFLY-headerwpd'  rel="nofollow" target="wpd"  class="xBrandLink" name="&lid=Brandheader_wpd"></a>
            <div class='flyOutContainer hidden'>
             <div class="triangleBorder"></div>
             <div class='triangle'></div>
             <div class='flyOutContent'>
                Wedding invitations and stationery for every step of the planning process.
             </div> 
         </div>
      </li>
        <li class="pipeSpacer"></li>
      <li id='treatBrand'>
        <a href='http://www.treat.com?CID=CB-SFLY-headertr' rel="nofollow" target="tpg" class="xBrandLink" name="&lid=Brandheader_treat"></a>
           <div class='flyOutContainer hidden'>
             <div class="triangleBorder"></div>
             <div class='triangle'></div>
             <div class='flyOutContent'>
                Personalized greeting cards that really stand out.
             </div> 
         </div>
      </li>
       <li class="pipeSpacer"></li>
        <li id='tpBrand' class="selectedRight">
          <a href='http://www.tinyprints.com?CID=CB-SFLY-headertp' rel="nofollow" target="tp" class="xBrandLink" name="&lid=Brandheader_tp"></a>
             <div class='flyOutContainer hidden'>
             <div class="triangleBorder"></div>
             <div class='triangle'></div>
             <div class='flyOutContent'>
                Premium cards and stationery for all life's occasions.
             </div> 
         </div>
      </li>
      <li class="pipeSpacer selectedSpacer"></li>
      <li id='sflyBrand' class="currentBrand">
        <a href='http://www.shutterfly.com' rel="nofollow"  class="xBrandLink" name="&lid=Brandheader_sfly"></a>
         <div class='flyOutContainer hidden'>
             <div class="triangleBorder"></div>
             <div class='triangle'></div>
             <div class='flyOutContent'>
                Where your photos come to life in photo books, cards and gifts. 
             </div> 
         </div>
      </li>
       <li class="pipeSpacer selectedSpacer"></li>
     <li id='ourBrands' class="selectedLeft">
     </li>
      </ul>
       <div class='clear'></div>
    </div>
    <div class='clear'></div>
 </div>
</div> 


<script>
/** Conditional js for IE only **/
if(document.compatMode && document.all){
	 var xBrands = document.getElementById("xBrands"); 	 
	 var target,className,parentNode,pId,parentClassName;
	 var oClassName; 
	 xBrands.attachEvent("onmouseover", function(){	
		 target = window.event.srcElement;
		 className = target.className;
		 
		 if(className.indexOf("xBrandLink") > -1){
            parentNode = target.parentNode;          
  		    pId = parentNode.id;
            parentClassName = parentNode.className;
           oClassName = parentClassName;
           if(parentClassName.length > 0){
        	   parentClassName += " hover";
           }else{
        	   parentClassName += "hover";
           }
           parentNode.className = parentClassName;
		 }
	 });
	
	 //Mouse Out 
	xBrands.attachEvent("onmouseout", function(){
		     currentEvent = window.event;	
			 target = window.event.srcElement;
			 className = target.className;	 
			 if(className.indexOf("xBrandLink") > -1){
	           parentNode = target.parentNode;
	  		   pId = parentNode.id;
	           parentNode.className = oClassName;
			 }	 
	 });	 
}
</script>

 
 </div>

 

   










		<script>
			
			var SflyPageMon =  SflyPageMon || {}; 

			
			SflyPageMon.firstByte = Number(new Date());

			 
			
			SflyPageMon.beaconUrl = "http://web1.shutterfly.com/application/metrics/pageloadtime.gif";

			
			
		</script>	

		
		<script type="text/javascript" src="http://cdn5.staticsfly.com/cncbundles/cncbundle.h1118623179.js" charset="utf-8"></script>



<link rel="stylesheet" type="text/css" href="http://cdn5.staticsfly.com/cncbundles/cncbundle.h36097721.css" charset="utf-8"/>

<script type="text/javascript" src="http://cdn5.staticsfly.com/cncbundles/cncbundle.h-1073315347.js" charset="utf-8"></script>


<style>

    #docWide, .body, #ft, .flow, .main {
        *text-align: left;
        *width: 1000px !important;
    }
    
     #headerWrapper{
         width: 1000px !important;
         margin : 0 auto;
    }
    


   
</style>


	

    <div id="headerWrapper">

  









<div id="globalHd" class="wideHeader">


<style>

    /** wrapper required for quirks mode. */
    body {
        *text-align: center !important;
    }

    #totallyNonConflictingWrapper,.totallyNonConflictingWrapper{
        margin: 0 auto !important;
        *text-align: left;
        width: 1000px !important;
    }   
</style>
  
 
<link rel="stylesheet" href="/css/fonts/fonts.css"/>
 
   <div class="siteHeader" id="siteHeader_full">
       <div id="headerLogo" class="fleft headerLogo_full">
           
               <a href="http://www.shutterfly.com">
           
               <img border="0" title="Go to the Shutterfly home page." alt="Go to the Shutterfly home page." src="http://cdn5.staticsfly.com/img_/ui/sitenav/sfly_logo_header_full-v13455564620001093.png" />
           
               </a>
           
       </div>
       <div id="headerNavContainer" class="fleft headerNavContainer_full">








   
           <div id="globalMenuBar">
               




<nav id="globalNav">
<ul id="globalNavList">
  <li id="mySflyTabContainer">
    <a id="mySflyTab" href="http://shutterfly.com/nav/mysfly.sfly" class="mySflyTab" title="View your recent activity, track your orders and manage your account."> MY SHUTTERFLY </a>
  </li>
  <li id="myPicturesTabContainer">
    <a id="myPicturesTab"  href="http://shutterfly.com/nav/mypics.sfly " class="myPicsTab" title="View, organize and edit your pictures."> MY PICTURES </a>
  </li>
  <li>
    <a  id="shareTab"  href="http://shutterfly.com/nav/share.sfly" class="navShareTab" title="View your Share sites, shared albums and projects.">SHARE</a>
  </li>
  <li id="inspirationTabContainer">
    <a id="inspirationTab"  href="http://shutterfly.com/photo-book/storytelling.sfly" class="navInspirationTab" title="Visit Shutterfly's Inspiration pages to get inspired to create your own photobook!">STORYTELLING</a>
  </li>
  <li id="storeTabContainer">
    <a id="storeTab" href="http://shutterfly.com/nav/store.sfly" class="navStoreTabActive active" title="Shop for personalized products to create with your pictures.">STORE</a>
  </li>
</ul>
<div class="clear"></div>
</nav>

           </div>
   
   

    
        <div id="hdSearchContainer">
            


<div id="srchContainer" class="searchInline">
    <div id="srch" class="searchInline" >
        <form name="searchForm" action="/search/search.sfly">
            <input type="text" name="q" class="srchTxtField" id="srchTxtField"  maxlength="50" placeholder="Search">
            <input type="hidden" name="time" value="1368772054318">
            <input type="hidden" name="searchVersion" value="null">
            <a class="srch_go srch_go_enabled">Go</a>
        </form>
        
       <div class="srch_err" id="srch_err">
        <div class="srch_shdw"></div>
        <div>
            <img src="http://cdn5.staticsfly.com/i/search/img_top_triangle-v1184713439000193.gif" width="15" height="11" alt=""/>
            <span id="srch_err_txt">Please enter a search term</span>
            <span id="closeBtn"></span>
        </div>
    </div>
    </div>

</div>

<script>
  new window.SearchBox("srch");
</script>





        </div>


<div id="hdUserLinks">
<!--  Links for Sign In/up -->
           
   
     
       
       
           
           
			    


       <a  href=https://www.shutterfly.com/forwardingSignin/start.sfly>Sign in</a>
 |
			
				


       <a  href=/forwardingSignup/start.sfly>Sign up</a>
 | 

	       
               
                     <a href="/help/index.jsp">
               
                     Help</a>
           
  </div> 
 </div>



   </div> 
   

   
</div> 














</div>




<div class="totallyNonConflictingWrapper">
    



























<div id="siteSubNavWrapper">
 


















<script type="text/javascript">
//
	if ("start" == "start") {
		SubNavComponent_jspStart = 1368772054321;
		SflyPageMon.mark("SubNavComponent");
	} else {
		SflyPageMon.measure("SubNavComponent", null, null, 
							1368772054321 - SubNavComponent_jspStart);
	}
//</script>







<script type="text/javascript" src="http://cdn5.staticsfly.com/cncbundles/cncbundle.h318247373.js" charset="utf-8"></script>

<script type="text/javascript" src="http://cdn5.staticsfly.com/cncbundles/cncbundle.h1399776888.js" charset="utf-8"></script>













<script type="text/javascript" src="http://cdn5.staticsfly.com/cncbundles/cncbundle.h1508222247.js" charset="utf-8"></script>















 
 
  
  
  
    
  
  
   
  
  
  
  


<div class="mboxDefault"></div>
<script type="text/javascript">
 
    
    mboxCreate('Shutterfly_Global_Nav','lastuploaddate=BUCKET_0_TO_7_DAYS','lastordercalendar=false','lastorderprint=false','calendarsorderedlifetime=ONE_TO_FIVE','printsorderedlifetime=TWENTY_ONE_TO_TWO_HUNDRED','q4buyer=false','registrationdate=BUCKET_12_TO_24_MONTHS','photogiftsorderedlifetime=THIRTEEN_TO_TWENTY_FIVE','lastorderdate=BUCKET_15_TO_30_DAYS','lastorderphotogift=true','newq4buyer=false','tinyprintsuser=false','calendarslastq4=false','pageName=/gradmystery25/');
  
  
 

 
 


 
 







</script>


<div id="siteSubNavContainer" class="siteSubNavContainer">
	
	<ul class="siteSubNav" id="siteSubNav">
		
			
				<li class="catItem  firstCatItem" 
				id="catItemLink_0">
				 <a href="http://shutterfly.com/photo-books" name="&lid=GlobalHeader_Photo Books" class="catItemLink"> Photo Books</a> 
					
					
					</li>
			
				<li class="catItem " 
				id="catItemLink_1">
				 <a href="http://shutterfly.com/cards-stationery" name="&lid=GlobalHeader_Cards and Stationery" class="catItemLink"> Cards & Stationery</a> 
						
					
					
					
					</li>
			
				<li class="catItem " 
				id="catItemLink_2">
				 <a href="http://shutterfly.com/prints" name="&lid=GlobalHeader_Prints" class="catItemLink"> Prints</a> 
					
					
					</li>
			
				<li class="catItem " 
				id="catItemLink_3">
				 <a href="http://shutterfly.com/calendars" name="&lid=GlobalHeader_Calendars" class="catItemLink"> Calendars</a> 
					
					
					</li>
			
				<li class="catItem " 
				id="catItemLink_4">
				 <a href="http://shutterfly.com/photo-gifts" name="&lid=GlobalHeader_Photo Gifts" class="catItemLink"> Photo Gifts</a> 
					
					
						<div id="pgMenuConatiner">
							<div id="pgContentContainer">
									<div class="dyncontent"><!-- HTML Content Wrapper -->
<ul class="column column1"><li class="columnHeader"><a href="/photo-gifts/new-arrivals" name="&lid=SubNav_PG_New Arrivals">New Arrivals</a></li>
<li><a href="http://shutterfly.com/photo-gifts/photo-mugs?filterOptions=atmug_type_4&amp;selectFilterOption=atmug_type_4" name="&lid=SubNav_PG_Stainless Steel Mugs">Stainless Steel Mugs</a></li>
<li><a href="http://shutterfly.com/photo-gifts/custom-iphone-cases" name="&lid=SubNav_PG_iPhone Cases">iPhone Cases</a></li>
<li><a href="http://shutterfly.com/home-decor/desktop-plaque" name="&lid=SubNav_PG_Desktop Plaque">Desktop Plaque</a></li>
<li><a href="http://shutterfly.com/home-decor/canvas-prints"  name="&lid=SubNav_PG_Canvas prints">Canvas prints</a></li>
<li><a href="http://shutterfly.com/photo-gifts/photo-mugs?c=29303#abn_atmug_type_2" name="&lid=SubNav_PG_Photo Mugs">Photo Mugs</a></li>
<li class="allSection"><a href="http://shutterfly.com/photo-gifts/new-arrivals" name="&lid=SubNav_PG_See all New Arrivals">See all New Arrivals &gt;&gt;</a></li></ul>
<ul class="column column2"><li class="columnHeader"><a href="/photo-gifts/customer-favorites" name="&lid=SubNav_PG_Customer Favorites">Customer Favorites</a></li>
<li><a href="http://shutterfly.com/photo-gifts/photo-mugs?c=29303#abn_atmug_type_2"  name="&lid=SubNav_PG_Photo Mugs">Photo Mugs</a></li>
<li><a href="http://shutterfly.com/home-decor/canvas-prints" name="&lid=SubNav_PG_Canvas Prints">Canvas Prints</a></li>
<li><a href="http://shutterfly.com/photo-gifts/custom-iphone-cases" name="&lid=SubNav_PG_iPhone Cases">iPhone Cases</a></li>
<li><a href="http://shutterfly.com/home-decor/acrylic-photo-block"  name="&lid=SubNav_PG_Acrylic Photo Block">Acrylic Photo Block</a></li>
<li><a href="http://shutterfly.com/photo-gifts/magnets" name="&lid=SubNav_PG_Magnets">Magnets</a></li>
<li><a href="http://shutterfly.com/photo-gifts/mouse-pads" name="&lid=SubNav_PG_Mouse Pads">Mouse Pads</a></li>
<li class="allSection"><a href="http://shutterfly.com/photo-gifts/customer-favorites" name="&lid=SubNav_PG_See all Customer Favorites">See all Customer Favorites &gt;&gt;</a></li></ul>
<ul class="column column3"><li class="columnHeader notNavigable">Shop by Price</li>
<li><a href="/new-photo-gifts/gifts-under-25" name="&lid=SubNav_PG_Under $25">Under $25</a></li>
<li><a href="/new-photo-gifts/gifts-under-50" name="&lid=SubNav_PG_Under $50">Under $50</a></li>
<li><a href="/special-offers" name="&lid=SubNav_PG_Special Offers">Special Offers</a></li>
<li class="allSection"><a href="/special-offers" name="&lid=SubNav_PG_See all Special Offers">See all Special Offers &gt;&gt;</a></li></ul>
<ul class="column column4"><li class="columnHeader"><a href="/fathers-day" name="&lid=SubNav_PG_Great Gift ideas for Dad">Great Gift ideas for Dad</a></li> <li><a href="/photo-gifts/photo-mugs/wordplay-dad-mug?productCode=1076664&categoryCode=10200&skuCode=1076665" name="&lid=SubNav_PG_Wordplay Dad Ceramic Mug">Wordplay Dad Ceramic Mug</a></li> <li><a href="/home-decor/desktop-plaque" name="&lid=SubNav_PG_Desktop Plaque">Desktop Plaque</a></li> <li><a href="/photo-gifts/custom-iphone-cases/woodgrain-iphone-case?productCode=1080129&categoryCode=IPHONE&skuCode=1081118" name="&lid=SubNav_PG_Woodgrain iPhone Case">Woodgrain iPhone Case</a></li> <li><a href="/photo-gifts/photo-mugs/dad-color-blocks-stainless-steel-travel-mug?productCode=1083474&categoryCode=10200&skuCode=1083475" name="&lid=SubNav_PG_Dad Blocks Stainless Steel Mug">Dad Blocks Stainless Steel Mug</a></li> <li><a href="/cards-stationery/notepads/best-father-ever-5x7-notepad?productCode=1080752&categoryCode=60314&skuCode=1080753" name="&lid=SubNav_PG_Best Father Ever Notepad">Best Father Ever Notepad</a></li> <li><a href="/cards-stationery/all-occasion-thank-you-cards/plaid-notes-thank-you-card-3x5-folded?productCode=1080438&categoryCode=60705&skuCode=1080440" name="&lid=SubNav_PG_Plaid Notes Thank you Cards">Plaid Notes Thank you Cards</a></li> <li class="allSection"><a href="/fathers-day" name="&lid=SubNav_PG_See all Gifts for Dad">See all Gifts for Dad &gt;&gt;</a></li></ul><ul class="column lastColumn"> <li><img src="/i/test_target/photogifts/pg004/Pinterest_Nav_image.jpg"/></li></ul><div class="clear"></div> 
<!-- /HTML Content Wrapper -->
</div>					
							</div>
						</div>
					
					</li>
			
				<li class="catItem  lastCatItem" 
				id="catItemLink_5">
				 <a href="http://shutterfly.com/home-decor" name="&lid=GlobalHeader_Home Dandeacute;cor" class="catItemLink"> Home D&eacute;cor</a> 
					
					
					</li>
			
		
	</ul>

	
	<ul class="siteInspirationMenu" >
		
			<li class="siteInspirationItem" id="siteSaleItem">
			<a href="http://shutterfly.com/special-offers" class="catItemLink"> Special Offers</a> 
			
				</li>
		
	</ul>

	
	
		<ul
			class="siteInspirationMenu "
			id="inspirationMenu">
			<li class="siteInspirationItem" id="inspirationItem"><a
				href="/occasions"
				class="catItemLink">
					Occasions
			</a></li>
		</ul>
	
  <div class="clear"></div>
</div>
<script type="text/javascript">
	dojo.addOnLoad(function() {
		new sfly.component.sflystore.SubNav();
	});
</script>
<script type="text/javascript">
//
	if ("end" == "start") {
		SubNavComponent_jspStart = 1368772054327;
		SflyPageMon.mark("SubNavComponent");
	} else {
		SflyPageMon.measure("SubNavComponent", null, null, 
							1368772054327 - SubNavComponent_jspStart);
	}
//</script>




      
      <!-- Top Banner -->
     <div id="offer-banner">
       <div id="banner-content">
            <div class="dyncontent"><!-- HTML Content Wrapper -->
    
      


<!-- /HTML Content Wrapper -->
</div>  
         </div>
         <div class="clear"> </div>
     </div>
 




   
    
        </div>
        
            

<%= yield %>
</div>
</div>

<div id="div2"><%= image_tag('Photoholder.jpg')%>  </div>


</div>


<div class="totallyNonConflictingWrapper">





















<div id="siteSubNavWrapper">
<div id="ft">
    






<div id="ftr">
	        


    


<script type="text/javascript">
	function changeFontStyle(){
//alert('in changefontstyle');
		var prospectEmAdr = document.getElementById("prospectEmailAddress");
		if(prospectEmAdr.value == "Enter email address"){
			prospectEmAdr.style.color="black" ;
			prospectEmAdr.value="";
		}
	}
	function submitProspect(){
		if(isEmailValid(document.getElementById("prospectEmailAddress").value)){
			document.forms["prospect_nested"].submit();			
			return true;
		}else{
			document.getElementById("mail_error_msg").innerHTML="Please enter a valid email address";
			document.getElementById("mail_error_msg").style.display="block";
                        document.getElementById("email_offer_div").style.height="50px";
			return false;
		}
	}
</script>		
<div class="gtky_email_offer_box" id="email_offer_div">
    <div class="gtky_error_msg"><span id="mail_error_msg"></span></div>
    <div id="gtky_container">
        <form id="prospect_nested" name="prospect_nested" action="/account/preference/start.sfly" method="post" onsubmit="return submitProspect();">
        <div id="gtky_label" class="getspoff" style="margin-top:4px;">
        </div>
        <div id="gtky_input_container" style="margin-top:2px;">
            <input id="prospectEmailAddress"  name="prospectEmailAddress" class="prospect_text_field" onclick="changeFontStyle();" value="Enter email address">
        </div>
        <div id="gtky_button_container">
            <a href="#buttonAnchor" onclick="javascript:submitProspect();" id="gtky_button" name="buttonAnchor"><img src="http://cdn5.staticsfly.com/img_/misc/sp-v102435783100043.gif" width="81" height="25"></a>
        </div>
        <div class="mgrightfloatleft stayConnect"></div>
        <div style="padding-top:5px;">
                                     <div class="mgrightfloatleft iphoneApp"><a  href="/mobile" target="_blank">&nbsp;</a></div>
                                     <div class="mgrightfloatleft sflyBlog"><a  href="http://blog.shutterfly.com" target="_blank"></a></div>
        							 <div class="mgrightfloatleft sflyCommunity"><a  href="http://forums.shutterfly.com/pages/home" target="_blank"></a></div>
        							 <div class="mgrightfloatleft sflyFacebook"><a  href="http://www.facebook.com/shutterfly" target="_blank"></a></div>
        							 <div  class='sflyTwitter'><a  href="http://twitter.com/shutterfly" target="_blank"></a></div>
        </div>
        </form>
    </div>
</div>
<div style="clear:both" ><div>
	<script type="text/javascript">
		agt = navigator.userAgent.toLowerCase();
		if(!document.getElementById("docWide") && agt.indexOf("safari") != -1){
			document.getElementById("gtky_button_container").style.marginRight="4px"; //fix safari 700 wide
		}
	</script>

        

    <div class="ftrwrap">
        <div class="ftrdivider ftrdividerleft">&nbsp;</div>
        <div class="ftrcol">
          <ul class="ftrlist">
            <li class="ftrhdg">
                Get Help
            </li>
            <li>
                <a title="Contact Customer Service" href="


http://www.shutterfly.com/help/index.jsp">Customer Service</a>
            </li>
            <li>
                <a title="Order Status" href="


http://www.shutterfly.com/account/orderhistory.jsp">Order Status</a>
            </li>
            
            <li>
                <a title="Site Map" href="


http://www.shutterfly.com/sitemap.jsp">Site Map</a>
            </li>
            
            <li>
                <a title="Contact us" href="


http://www.shutterfly.com/about/contact_info.jsp">Contact us</a>
            </li>
            <li>
                <a title="Free Photo Download and Editing Software" href="


http://www.shutterfly.com/upload-pictures">Photo Upload Tools</a>
            </li>
            <li>
                <a title="Mobile Tools and TV" href="


http://www.shutterfly.com/free-photo-sharing-iPhone-app/">Mobile Tools and TV</a>
            </li>
            
          </ul>
        </div>
        <div class="ftrdivider">&nbsp;</div>
        <div class="ftrcol">
          <ul class="ftrlist">
            <li class="ftrhdg">
                About Shutterfly
            </li>
            <li>
                <a title="Learn More About Shutterfly" href="


http://www.shutterfly.com/learn/index.jsp">Learn More</a>
            </li>
            <li>
                <a title="Satisfaction Guarantee" href="


http://www.shutterfly.com/help/guarantee.jsp">Satisfaction Guarantee</a>
            </li>
            <li>
                <a title="Photo Prints Pricing" href="


http://www.shutterfly.com/info/pricing.jsp">Pricing</a>
            </li>
            <li>
                <a title="Shutterfly Terms &amp; Conditions" href="


http://www.shutterfly.com/help/terms.jsp">Terms</a>
            </li>
            <li>
                <a title="Privacy Policy" href="


http://www.shutterfly.com/help/privacy.jsp">Privacy Policy</a>
            </li>
            <li>
                <a title="Gift Certificates" href="


http://www.shutterfly.com/custom-photo-products/gift-certificates">Gift Certificates</a>
            </li>
          </ul>
        </div>
        <div class="ftrdivider">&nbsp;</div>
        <div class="ftrcol">
          <ul class="ftrlist">
            <li class="ftrhdg">
                Our Photo Products
            </li>
            <li>
                <a title="Photo Books" href="


http://www.shutterfly.com/photo-books">Photo Books</a>
            </li>
            <li>
                <a title="Cards &amp; Stationery" href="


http://www.shutterfly.com/cards-stationery">Cards &amp; Stationery</a>
            </li>
            <li>
                <a title="Prints &amp; Posters" href="


http://www.shutterfly.com/prints">Prints &amp; Posters</a>
            </li>
            <li>
                <a title="Calendars" href="


http://www.shutterfly.com/calendars">Calendars</a>
            </li>
            <li>
                <a title="Photo Gifts" href="


http://www.shutterfly.com/photo-gifts">Photo Gifts</a>
            </li>
            <li>
                <a title="FREE Photo Sharing" href="


http://www.shutterfly.com/online_photo_sharing">FREE Photo Sharing</a>
            </li>
          </ul>
        </div>
        <div class="ftrdivider">&nbsp;</div>
        <div class="ftrcol">
          <ul class="ftrlist">
            <li class="ftrhdg">
                Businesses
            </li>
            <li>
                <a title="Business Solutions" href="http://businesssolutions.shutterfly.com/">Business Solutions</a>
            </li>
            <li>
                <a title="Professional Photographers" href="


http://www.shutterfly.com/selling_photos_online/professional_photography.jsp">Professional Photographers</a>
            </li>
            <li>
                <a title="Affiliate Program" href="


http://www.shutterfly.com/affiliate/welcome.jsp">Affiliate Program</a>
            </li>
            <li>
                <a title="Sports Team Websites" href="


http://www.shutterfly.com/sports-team-websites">Sports Team Websites</a>
            </li>
            <li>
                <a title="Volume Discounts" href="


http://www.shutterfly.com/order/biz_ppp_products.jsp">Volume Discounts</a>
            </li>
          </ul>
        </div>
        <div class="ftrdivider">&nbsp;</div>
        <div class="ftrcol">
          <ul class="ftrlist">
            <li class="ftrhdg">
                Corporate
            </li>
            <li>
                <a title="About Us" href="http://www.shutterflyinc.com/com_overview.html">About Us</a>
            </li>
            <li>
                <a title="Working at Shutterfly" href="http://www.shutterflyinc.com/emp_working_at.html">Careers</a>
            </li>
            <li>
                <a title="Press Center" href="http://www.shutterflyinc.com/prs_sub_current.html">Press Center</a>
            </li>
            <li>
                <a title="Investor Relations" href="http://www.shutterflyinc.com/investorRelations.html">Investor Relations</a>
            </li>
            <li>
                <a title="Partners &amp; Advertisers" href="http://www.shutterflyinc.com/advertising.html">Partners &amp; Advertisers</a>
            </li>
          </ul>
        </div>
    </div>
</div>
<br clear="both"/>
<div id="cpy" onclick="toggleDebugVisibility()">&copy;&nbsp;1999-2013 Shutterfly, Inc. All rights reserved.</div>
<script>
    function toggleDebugVisibility() {
        var debugDiv = document.getElementById('debugData');
        if (debugDiv.style.display == "none") {
            debugDiv.style.display = "block";
        }
        else {
            debugDiv.style.display = "none";
        }
    }
</script>
<div id="debugData" style="display:none; background-color:#EE8; margin:15px; font-size:11px;">
     5/16/13 11:27 PM<br> <span class='hostname'>app018</span><br>
</div>


    

	
    











































<script type="text/javascript" >
function _hbSend(c,a,i){}
function _hbSet(a,b,c,d,e){}
function _hbPageView(p,m){}
function _hbLink(a,b,c){}
</script>









	


                   













<script type="text/javascript" src="http://cdn5.staticsfly.com/cncbundles/cncbundle.h1563708944.js" charset="utf-8"></script>





<script language="JavaScript" type="text/javascript">


	
	
	scw.sessionTs="2013-05-16 23:27:34";
	scw.sessionTsMod=true;
	scw.partnerId="SFLY";
	scw.partnerIdMod=true;
	scw.partnerSubId="WEB";
	scw.partnerSubIdMod=true;
	scw.campaignId="";
	scw.campaignIdMod=true;
	scw.emailId="";
	scw.emailIdMod=false;
	scw.linkShareId="";
	scw.linkShareTs="";
	scw.linkShareMod=true;
	scw.blogLinkTrack="null";
    scw.userAOrB="codeVariant: ";
    scw.extendedModule="null";
    scw.reportingSuite = "null";
	
	
	scw.userIdMod=false;
	scw.userId="";
	scw.visitorType="signedOut";
	scw.visitorTypeMod=true;
	scw.visitorId="7ca367b0-d25d-11e0-b8be-fd80591afd38";
	scw.visitorIdMod=true;	
	scw.demographicScore="0";
	scw.behavorialScore="8";
	scw.lastOrderDate="2013-04-30 00:00:00";
	scw.lastUploadDate="2013-05-14 00:00:00";
	scw.lastShareDate="2013-03-27 00:00:00";
	scw.registrationDate="2011-08-29 00:00:00";
	scw.focusSubSegmentCode="";
	scw.activationSegmentCode="";
	scw.giftSegmentCode="";
	scw.photobookUnitsOrderedLifetime="9";
	scw.newQ4Buyer=false;
    scw.q4Buyer=false;
    scw.shareSiteCreated=true;
    scw.tinyPrintsUser=false;
    scw.lastOrderProducts="PhotoGift";
    scw.lifetimeOrderProducts="PB|GCard|SCard|Calendar|LargeFormat|PhotoGift|Print";
    scw.lastQ4Products="";
	scw.serverType="app";
	scw.userAgent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:20.0) Gecko/20100101 Firefox/20.0";
	scw.pageName="/gradmystery25/";
    scw.customPageName="/gradmystery25/";
	scw.serverName="www.shutterfly.com";
    scw.storePageVisit="";
    scw.simplePathVisit="";
	scw.moduleStack=""; 
	scw.trialTag=""; 
	scw.abnFilter =""; 
	
	
	scw.prodFindMethod="";
	scw.storeProductHierarchy="";
    scw.viewedProducts="";
    scw.prodViewEvents="";

    
    try {if(window.customizePageViewLoggingProperties)window.customizePageViewLoggingProperties(scw);}catch(ex){}

    translateScwBase();

    

    
	
	scw.events="";
	scw.products="";
	scw.purchaseID="";

	
	scw.projId="";
	scw.projType="";
	scw.projStartMethod="";
	
	
	scw.searchTerm="";
	scw.searchType="";
	
	translateScwCart();
	translateViewedPromos();





var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script language="JavaScript" type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
src="http://shutterfly.112.2o7.net/b/ss/sflydev/1/H.15.1--NS/0"
height="1" width="1" border="0" alt="" /></a></noscript>





<img src="http://pixel.quantserve.com/pixel/p-f4BHX2ZttKRdw.gif?labels=WEB.SFLY.ECOMM" style="display: none;" border="0" height="1" width="1" alt=""/>
<!-- BloomSurface tracking code.  Place at foot of page. -->

<script type="text/javascript">

var br_data = {};

br_data.acct_id = "5086";
br_data.ptype = "other";
br_data.cat = "";
br_data.prod_id = "";
br_data.prod_name = "";
br_data.search_term = "";
br_data.session_id = "0BF0EED9234A32860DA6E57BA47AAF32";
br_data.is_conversion = "0";
br_data.is_paid = "0";
br_data.basket_value = "";
br_data.order_id ="";

(function() {
    var brtrk = document.createElement('script');
      brtrk.type = 'text/javascript';
      brtrk.async = true;
      brtrk.src ="http://cdn.brcdn.com/v1/br-trk-5086-as.js";
      if('https:' == document.location.protocol ) {
         brtrk.src ="";
      }
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(brtrk, s);
})();
</script>

<!-- Begin: www.iperceptions.com --><script type="text/javascript">
(function(w,d,s,l){function go(){var js,fjs=d.getElementsByTagName(s)[0],id="IPerceptionsJS";if(d.getElementById(id))return;js=d.createElement(s);js.src=w.location.protocol+"//ips-invite.iperceptions.com/invitations/invitationsJS/107/s107864/gateway.js";js.id=id;fjs.parentNode.insertBefore(js,fjs)}var c=d.cookie,r=100;if(r>Math.floor(Math.random()*100)&&!(/(^|;)\s*IPE(_S_)?107864=/.test(c)||/(^|;)\s*IPE_REG/.test(c))){if(w.addEventListener)w.addEventListener(l,go,false);else if(w.attachEvent)w.attachEvent("on"+ l,go);}})(window,document,"script","load");
</script><!-- End: www.iperceptions.com -->
<script type="text/javascript"> 
  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-33679362-1"]);
  _gaq.push(["_setDomainName", "shutterfly.com"]);
  _gaq.push(["_trackPageview"]); 
  (function() {
    var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
    ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
  })(); 
</script>

<script language="javascript" type="text/javascript">
<!--
  var page_url = escape(document.URL);
  var ref_url = escape(document.referrer);

  var mpt = new Date();
  var mpts = mpt.getTimezoneOffset() + mpt.getTime();

  if (window.location.protocol == "https:"){
    document.write("<iframe src=\"https:\/\/secure.img-cdn.mediaplex.com\/0\/17638\/universal.html?page_name=content&mpt=" + mpts + "&url=" + page_url + "&ref=" + ref_url + "\" HEIGHT=1 WIDTH=1 FRAMEBORDER=0><\/iframe>");
  } else {
    document.write("<iframe src=\"http:\/\/img-cdn.mediaplex.com\/0\/17638\/universal.html?page_name=content&mpt=" + mpts + "&url=" + page_url + "&ref=" + ref_url + "\" HEIGHT=1 WIDTH=1 FRAMEBORDER=0><\/iframe>");
  }
// -->  
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1014879897;
var google_conversion_label = "KvoRCKe1nAQQma334wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1014879897/?value=0&amp;label=KvoRCKe1nAQQma334wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>







<script type="text/javascript" src="http://cdn5.staticsfly.com/incl_/thirdparty/vendor_cleanup_images-v12161641710001751.js" ></script>


</div>

        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $.extend({
      getUrlVars: function(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
        return vars;
      },
      getUrlVar: function(name){
        return $.getUrlVars()[name];
      }
    });

    // Second call with this:
    // Get object of URL parameters
    var allVars = $.getUrlVars();

    // Getting URL var by its name
    var pCode = $.getUrlVar('promocode');

    $('#promoCode').text(pCode);
</script>
<img src="http://altfarm.mediaplex.com/ad/tr/17638-130429-40512-0" border="0">
</body>
</html>
